@import "../../../styles/mediaQuery";
@import "../../../styles/pxToRem";
@import "../../../styles/variables";

.breed-overview-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: flex-start;
}

.header {
  color: $colorPrimaryWhite;
  font-family: $fontFamilyBody;
}

.description {
  color: $colorPrimaryWhite;
  font-family: $fontFamilyBody;

  .isGreen {
    color: $colorPrimaryGreen;
  }
}

.search-container {
  display: flex;
  margin-top: pxToRem(16);
  height: max-content;
  align-items: center;
  width: 100% !important;

  @include mediaQuery(m, up) {
    margin-top: pxToRem(64);
  }
}

.search-bar {
  margin-right: pxToRem(32);
  width: 100%;
  max-width: pxToRem(244);
  padding: pxToRem(8);
  height: pxToRem(48);
  font-size: pxToRem(12);
  max-height: pxToRem(148);
  box-sizing: border-box;
  font-family: $fontFamilyBody;
  outline: none;
  background-color: $colorPrimaryWhite;
  border: pxToRem(2) solid $colorPrimaryWhite;

  @include mediaQuery(m, up) {
    padding: pxToRem(12) pxToRem(20);
    font-size: pxToRem(16);
  }
}

.results-container {
  display: flex;
  position: relative;
  margin-top: pxToRem(64);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: pxToRem(32);

  @include mediaQuery(m, up) {
    flex-direction: row;
    column-gap: pxToRem(64);
    margin-bottom: 0;
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
