<toast-app
  *ngIf="showToast"
  text="{{ 'breedOverview.addedFavorites' | translate }}"
  (closeToast)="showToast = false"
></toast-app>
<div class="breed-overview-container">
  <h1 class="header">{{ "breedOverview.searchByBreed" | translate }}</h1>
  <div class="search-container">
    <div class="search-container-top">
      <input
        type="text"
        class="search-bar"
        name="catBreedName"
        (keyup.enter)="searchBreed()"
        [(ngModel)]="catBreedName"
        placeholder="{{ 'breedOverview.exampleCheetoh' | translate }}"
        data-testid="input"
      />
      <button-app
        (click)="searchBreed()"
        class="button button--primaryGreen"
        title="{{ 'breedOverview.searchByBreed' | translate }}"
        data-testid="search-button"
      ></button-app>
    </div>
    <button-app
      (click)="getBreedNames()"
      class="button button--primaryGreen"
      title="{{ 'breedOverview.showBreedNames' | translate }}"
      data-testid="examples-button"
    ></button-app>
  </div>
  <div *ngIf="showError">
    <h1 class="header">{{ "breedOverview.alreadyAdded" | translate }}</h1>
  </div>
  <div class="results-container">
    <div *ngIf="showNoResults">
      <h1 class="header">{{ "breedOverview.noResultsFound" | translate }}</h1>
    </div>
    <div *ngIf="showBreeds">
      <div *ngFor="let breed of catBreedList">
        <h1 class="description">{{ breed.name }}</h1>
        <div class="content-container">
          <cat-image-app
            [src]="breed.image_url"
            [alt]="breed.name"
          ></cat-image-app>
          <div class="details-container">
            <div>
              <img
                src="{{ countryUrl(breed.country_code) }}"
                class="country-flag"
                alt="breed.country_code"
              />
              <p class="description">
                <b
                  ><span class="isGreen">{{
                    "breedOverview.description" | translate
                  }}</span></b
                >
                {{ breed.description }}
              </p>
              <p class="description">
                <b
                  ><span class="isGreen">{{
                    "breedOverview.origin" | translate
                  }}</span></b
                >
                {{ breed.origin }}
              </p>
              <p class="description">
                <b
                  ><span class="isGreen">{{
                    "breedOverview.lifespan" | translate
                  }}</span></b
                >
                {{ breed.life_span }}
              </p>
              <p class="description">
                <b
                  ><span class="isGreen">{{
                    "breedOverview.temperament" | translate
                  }}</span></b
                >
                {{ breed.temperament }}
              </p>
              <p class="description">
                {{ "breedOverview.readMore" | translate }}
                <b>
                  <a
                    class="isGreen"
                    [href]="breed.wikipedia_url"
                    target="_blank"
                    >{{ "breedOverview.wikipedia" | translate }}</a
                  ></b
                >
              </p>
            </div>
            <button-app
              (click)="postFavorite(breed.reference_image_id)"
              class="button button--primaryWhite"
              title="{{ 'breedOverview.addFavorites' | translate }}"
            ></button-app>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showBreedNames">
      <div class="grid">
        <ul *ngFor="let breedName of catBreedNames" class="column">
          <li class="name">{{ breedName.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
