<toast-app
  *ngIf="showToast"
  text="{{ 'favorites.deletedCat' | translate }}"
  (closeToast)="showToast = false"
></toast-app>
<div class="breed-overview-container">
  <h1 class="isWhite">{{ "favorites.favorites" | translate }}</h1>
  <div class="grid">
    <div *ngFor="let favorite of favoriteList" class="column">
      <cat-image-app
        [src]="favorite.image.url"
        [alt]="favorite.id"
      ></cat-image-app>
      <div class="button-container">
        <button-app
          (click)="deleteFavorite(favorite.id)"
          class="button button--primaryGreen"
          title="{{ 'favorites.delete' | translate }}"
        ></button-app>
      </div>
    </div>
  </div>
  <h3 class="isWhite" *ngIf="favoriteList?.length == 0">
    {{ "favorites.noFavorites" | translate }}
  </h3>
</div>
